@font-face {
  font-family: 'Valorant Sans';
  src: url('./font/SourceSansPro-ExtraLight.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Valorant Sans';
  src: url('./font/SourceSansPro-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Valorant Sans';
  src: url('./font/SourceSansPro-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Valorant Sans';
  src: url('./font/SourceSansPro-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Valorant Sans';
  src: url('./font/SourceSansPro-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Valorant Sans';
  src: url('./font/SourceSansPro-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Valorant Sans';
  src: url('./font/SourceSansPro-ExtraLightItalic.ttf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Valorant Sans';
  src: url('./font/SourceSansPro-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Valorant Sans';
  src: url('./font/SourceSansPro-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Valorant Sans';
  src: url('./font/SourceSansPro-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Valorant Sans';
  src: url('./font/SourceSansPro-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Valorant Sans';
  src: url('./font/SourceSansPro-BlackItalic.ttf');
  font-weight: 800;
  font-style: italic;
}

* {
  font-family: 'Valorant Sans', sans-serif;
}

body,
#root {
  height: 100%;
  height: 100dvh;
}
